<script type="text/javascript">
    var ss;
    var selectedIDs = "";
    $(document).ready(function () {

        $('#_btnGenerate').click(function () {
            if (selectedIDs.length > 0) {
                ss = 4;
                PopTheLoading.Show();
                window.location = "@Humica.EF.Models.SY.SYUrl.getBaseUrl()" + "@ViewData[Humica.EF.Models.SY.SYConstant.CURRENT_URL].ToString()" + "Generate";//?TranNo=" + selectedIDs;
            } else {
                alert("No data selected");
            }
        });
        $('#_btnDefaultRoster').click(function () {
            ss = 5;
            PopTheLoading.Show();
           // window.location = "@Humica.EF.Models.SY.SYUrl.getBaseUrl()" + "@ViewData[Humica.EF.Models.SY.SYConstant.CURRENT_URL].ToString()" + "DefaultRoster";//?TranNo=" + selectedIDs;
            window.location = "@Humica.EF.Models.SY.SYUrl.getBaseUrl()" + "@ViewData[Humica.EF.Models.SY.SYConstant.CURRENT_URL].ToString()" + "DefaultRoster?FromDate=" + convert(txtFromDate.GetDate()) + "&ToDate=" + convert(txtToDate.GetDate());

        });
        $('#_btnExportActionList').click(function () {
            window.location = "@Humica.EF.MD.SYSession.UrlExportListDetail(@ViewData[Humica.EF.Models.SY.SYConstant.SCREEN_ID].ToString())";
        });
    });
    function convert(str) {
        var date = new Date(str),
            mnth = ("0" + (date.getMonth() + 1)).slice(-2),
            day = ("0" + date.getDate()).slice(-2),
            Minutes = ("0" + date.getMinutes()).slice(-2);
        return [date.getFullYear(), mnth, day].join("-");
    }
    function ShowDataEmp() {
        var total = 0;
        $.ajax({
            type: 'post',
            url: _baseUrl + '/Attendance/Attendance/GenerateAtten/ShowData',
            data: { 'EmpCode': selectedIDs },
            success: function (data) {
                if (data.MS == "OK") {
                    txtAllName.SetValue(data.AllName);
                }
                else {
                    AlertMessage(data.MS);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                AlertMessage(XMLHttpRequest.responseText);

            }
        });
    }
    function EmpDbRowClick(s, e) {
        s.GetRowValues(s.GetFocusedRowIndex(), 'EmpCode;', OnGetRowValuesEmp);
        cboEmployee.HideDropDown();
    }

    function rowSelected(s, e) {
        EmployeeGridListSelector.GetRowValues(EmployeeGridListSelector.GetFocusedRowIndex(), 'EmpCode;', OnGetRowValuesEmp);
        cboEmployee.HideDropDown();
    }
    function OnGetRowValuesEmp(values) {
        cboEmployee.SetValue(values[0]);
        selectedIDs = values[0];
        ShowDataEmp();
    }

    function OnSelectionChanged(s, e) {
        s.GetSelectedFieldValues("TranNo", GetSelectedFieldValuesCallback);

    }
    function GetSelectedFieldValuesCallback(values) {
        selectedIDs = "";
        ssFrom = "";
        for (var index = 0; index < values.length; index++) {
            selectedIDs += values[index] + ";";
            ssFrom = selectedIDs;
        }
        if (selectedIDs.length > 0) {
            selectedIDs = selectedIDs.substring(0, selectedIDs.length - 1);
        }
        $.ajax({
            type: 'post',
            url: _baseUrl + '/Attendance/Attendance/GenerateAtten/getEmpCode',
            data: { 'EmpCode': selectedIDs, 'Action': 'Index' },
            success: function (data) {
                if (data == "OK") {

                }
                else {
                    AlertMessage(data);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                AlertMessage(XMLHttpRequest.responseText);
            }
        });
    }

</script>
<script type="text/javascript" src="~/Content/ReportJS1.js">

</script>
@model Humica.Attendance.IAttendanceObject

<div class="fitler-doc">
    @Html.Partial("FTAttenadance", Model)
</div>
@Html.Partial("GridItems", Model.ListEmpSchdule)