<script type="text/javascript">
    var ss;
    var selectedIDs = "";
    var status = "";
    $(document).ready(function () {
        $('#_btnImageView').click(function () {
            ss = 1;
            GridViewList.GetRowValues(GridViewList.GetFocusedRowIndex(), 'TranNo;', OnGetRowValues);
        });
        $('#_bthEditAction').click(function () {
            ss = 2;
            GridViewList.GetRowValues(GridViewList.GetFocusedRowIndex(), 'TranNo;', OnGetRowValues);
        });
         $('#_btnImport').click(function () {
            window.location = "@Humica.EF.Models.SY.SYUrl.getBaseUrl()" + "@ViewData[Humica.EF.Models.SY.SYConstant.CURRENT_URL]" + "Import";
        })
        $('#_btnExportActionList').click(function () {
            window.location = "@Humica.EF.MD.SYSession.UrlExportList(@ViewData[Humica.EF.Models.SY.SYConstant.SCREEN_ID].ToString())";
        });

        $('#_btnDeleteAction').click(function () {
            ss = 4;
            GridViewList.GetRowValues(GridViewList.GetFocusedRowIndex(), 'TranNo;', OnGetRowValues);
        });
    });
    $("#_btnNewAction").hide();

    function OnGetRowValues(values) {
        selectedIDs = values[0];
        status = values[1];
        if (ss == 1) {
            window.location = "@Humica.EF.Models.SY.SYUrl.getBaseUrl()" + "@ViewData[Humica.EF.Models.SY.SYConstant.CURRENT_URL]" + "Details?id=" + values[0];
        }
        if (ss == 2) {
            if (status != "@Humica.EF.SYDocumentStatus.OPEN.ToString()") {
                AlertMessage("@Humica.EF.Models.SY.SYMessages.getMessage("DOC_INV", Humica.EF.MD.SYSession.getSessionUser().Lang)");
            }
            else {
                window.location = "@Humica.EF.Models.SY.SYUrl.getBaseUrl()" + "@ViewData[Humica.EF.Models.SY.SYConstant.CURRENT_URL]" + "Edit?id=" + values[0];
            }
        }
        //Delete
        if (ss == 4) {
            ConfirmMessage("@Humica.EF.Models.SY.SYMessages.getMessage("DELETE_C", Humica.EF.MD.SYSession.getSessionUser().Lang)");
        }
        if (ss == 10) {
            if (status == "@Humica.EF.SYDocumentStatus.PENDING.ToString()") {
                ConfirmMessage("@Humica.EF.Models.SY.SYMessages.getMessage("APPROVE_C", Humica.EF.MD.SYSession.getSessionUser().Lang)");
            }
            else {
                AlertMessage("@Humica.EF.Models.SY.SYMessages.getMessage("DOC_INV", Humica.EF.MD.SYSession.getSessionUser().Lang)");
            }
        }
        if (ss == 9) {
            if (status == "@Humica.EF.SYDocumentStatus.PENDING.ToString()") {
                ConfirmMessage("@Humica.EF.Models.SY.SYMessages.getMessage("REJECT_C", Humica.EF.MD.SYSession.getSessionUser().Lang)");
            }
            else {
                AlertMessage("@Humica.EF.Models.SY.SYMessages.getMessage("DOC_INV", Humica.EF.MD.SYSession.getSessionUser().Lang)");
            }
        }

    }

    function _clickConfirm(s, e) {
        if (s.GetText() == "@Humica.EF.Models.SY.SYConstant.OK") {
            if (ss == 4) {
                window.location = "@Humica.EF.Models.SY.SYUrl.getBaseUrl()" + "@ViewData[Humica.EF.Models.SY.SYConstant.CURRENT_URL].ToString()" + "Delete?id=" + selectedIDs;
            }
            if (ss == 10) {
                window.location = "@Humica.EF.Models.SY.SYUrl.getBaseUrl()" + "@ViewData[Humica.EF.Models.SY.SYConstant.CURRENT_URL].ToString()" + "Approve?id=" + selectedIDs;
            }
            if (ss == 9) {
                window.location = "@Humica.EF.Models.SY.SYUrl.getBaseUrl()" + "@ViewData[Humica.EF.Models.SY.SYConstant.CURRENT_URL].ToString()" + "Reject?id=" + selectedIDs;
            }
        }
    }
    function EmpDbRowClick(s, e) {
        s.GetRowValues(s.GetFocusedRowIndex(), 'EmpCode;', OnGetRowValuesEmp);
        cboEmployee.HideDropDown();
    }
    function DbRowClick(s, e) {
        ss = 1;
        s.GetRowValues(s.GetFocusedRowIndex(), 'TranNo;', OnGetRowValues);
    }
    function OnGetRowValuesEmp(values) {
        cboEmployee.SetValue(values[0]);
        selectedIDs = values[0];
        ShowDataEmp();
    }
    function rowSelected(s, e) {
        EmployeeGridListSelector.GetRowValues(EmployeeGridListSelector.GetFocusedRowIndex(), 'EmpCode;', OnGetRowValuesEmp);
        cboEmployee.HideDropDown();
    }
    function _clickMenuAction(s, e) {
        if (e.item.name == "_mnReject") {
            ss = 9;
            GridViewList.GetRowValues(GridViewList.GetFocusedRowIndex(), 'TranNo;Status;', OnGetRowValues);
        }
        if (e.item.name == "_mnApprove") {
            ss = 10;
            GridViewList.GetRowValues(GridViewList.GetFocusedRowIndex(), 'TranNo;Status;', OnGetRowValues);
        }
    }
</script>
<script type="text/javascript" src="~/Content/CustomJs.js"></script>
@model Humica.Performance.IClsKPITracking
<div class="fitler-doc">
    @Html.Partial("FTInYear", Model)
</div>
@if (Model.ListKPIEmpPending.Count != 0)
{
    @Html.DevExpress().PageControl(
        settings =>
        {
            settings.Name = "pcScrollingAssetClass";
            settings.Width = Unit.Percentage(100);

            settings.EnableTabScrolling = true;
            settings.TabAlign = TabAlign.Justify;

            settings.Styles.Tab.CssClass = "scrolling_Tab";

            //settings.ClientSideEvents.ActiveTabChanged = "tabClickCommand1";
            //settings.ClientSideEvents.Init = "tabClickCommand1";
            settings.TabPages.Add(Humica.EF.Models.SY.SYSettings.getLabel("List")).SetContent(() =>
            {
                @Html.RenderPartial(Humica.Models.SY.SYListConfuration.ListDefaultView, Model.listKPITracking);

            });
            settings.TabPages.Add(Humica.EF.Models.SY.SYSettings.getLabel("WaitingList")).SetContent(() =>
            {
                Html.RenderPartial("PartialListPending", Model.ListKPIEmpPending);

            });

        }).GetHtml()
}
else
{
    @Html.Partial(Humica.Models.SY.SYListConfuration.ListDefaultView, Model.listKPITracking)
}