@model Humica.Logic.MD.SYUserAceessObject
<script type="text/javascript">

    $(document).ready(function () {
        $('#_btnBackAction').click(function () {
            window.location = "@Humica.EF.Models.SY.SYUrl.getBaseUrl()" + "@ViewData[Humica.EF.Models.SY.SYConstant.CURRENT_URL].ToString()";
        });

        $('#_btnSaveActionGrid').click(function () {
            $('form').submit();
        });
    });
    var selectedIDs = "";

    function OnSelectionLevelChanged(s, e) {
        var key = s.GetVisibleSelectedNodeKeys();
        selectedIDs = key.join(';');
        LevelSelected.SetValue(selectedIDs);
    }
</script>
@Html.DevExpress().FormLayout(settings =>
{


    settings.Name = "MaterialCreate";
    settings.AlignItemCaptionsInAllGroups = true;

    settings.Items.AddGroupItem(m => Model.HeaderSalary, g =>
    {
        g.ColCount = 2;
        g.GroupBoxDecoration = GroupBoxDecoration.None;
        g.SettingsItemCaptions.HorizontalAlign = FormLayoutHorizontalAlign.Right;

        g.Items.Add(m =>
        {
            m.Caption = Humica.EF.Models.SY.SYSettings.getLabel((List<Humica.EF.MD.CFForm>)
                ViewData[Humica.EF.SYSConstant.LIST_CONF_FORM], "UserName");
        })
        .SetNestedContent(() =>
        {
            Html.DevExpress().ComboBoxFor(i => i.HeaderSalary.UserName, s =>
            {
                s.ShowModelErrors = true;
                s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
                s.Properties.ValidationSettings.SetFocusOnError = true;
                s.Properties.ValidationSettings.ErrorText = "*";
                s.Properties.TextFormatString = "{0}:{1}";
                s.Properties.ValueField = "UserName";
                s.Properties.TextField = "UserName";
                s.Properties.Columns.Add("UserName", Humica.EF.Models.SY.SYSettings.getLabel("UserName"), 120);
                s.Properties.Columns.Add("LoginName", Humica.EF.Models.SY.SYSettings.getLabel("LoginName"), 200);
                s.Properties.NullText = Humica.EF.Models.SY.SYSettings.getLabel("_SELECT");
            }).BindList(ViewData["USER_SELECT"]).Render();
        });

    });

}).GetHtml()

@Html.DevExpress().TextBox(s =>
             {
                 s.Name = "LevelSelected";
                 s.ClientVisible = false;
             }).GetHtml()

@Html.DevExpress().PageControl(
    settings =>
    {
        settings.Name = "pcScrollingMaterial1";
        settings.Width = Unit.Percentage(100);

        settings.EnableTabScrolling = true;
        settings.TabAlign = TabAlign.Justify;

        settings.Styles.Tab.CssClass = "scrolling_Tab";


        settings.TabPages.Add(Humica.EF.Models.SY.SYSettings.getLabel((List<Humica.EF.MD.CFForm>
       )ViewData[Humica.EF.SYSConstant.LIST_CONF_FORM], "Level")).SetContent(() =>
       {
           ViewContext.Writer.Write("<div id='data_acess'>");
           @Html.RenderPartial("TreeLevelStorage", Model);
           ViewContext.Writer.Write("</div>");
       });
    }).GetHtml()
