<script type="text/javascript">
    var ss;
    var selectedIDs = "";
    $(document).ready(function () {


        $('#_btnImageView').click(function () {
            ss = 1;
            GridViewList.GetRowValues(GridViewList.GetFocusedRowIndex(), 'ID;', OnGetRowValues);
        });

        $('#_btnTransfer').click(function () {
            window.location = "@Humica.EF.Models.SY.SYUrl.getBaseUrl()" + "@ViewData[Humica.EF.Models.SY.SYConstant.CURRENT_URL].ToString()" + "Transfer?Empcode=" + selectedIDs + "&TYear=" + txtTYear.GetValue();
        });
    });

    function DbRowClick(s, e) {
        ss = 1;
        s.GetRowValues(s.GetFocusedRowIndex(), 'ID;', OnGetRowValues);
    }


    function OnGetRowValues(values) {
        selectedIDs = values[0];
        if (ss == 1) {
            window.location = "@Humica.EF.Models.SY.SYUrl.getBaseUrl()" + "@ViewData[Humica.EF.Models.SY.SYConstant.CURRENT_URL]" + "Details/" + values[0];
        }
        if (ss == 2) {
            window.location = "@Humica.EF.Models.SY.SYUrl.getBaseUrl()" + "@ViewData[Humica.EF.Models.SY.SYConstant.CURRENT_URL]" + "Edit/" + values[0];
        }

    }

    function _clickConfirm(s, e) {
        if (s.GetText() == "@Humica.EF.Models.SY.SYConstant.OK") {
            if (ss == 4) {
                window.location = "@Humica.EF.Models.SY.SYUrl.getBaseUrl()" + "@ViewData[Humica.EF.Models.SY.SYConstant.CURRENT_URL].ToString()" + "Delete?id=" + selectedIDs;
            }

        }

    }
    function OnSelectionChanged(s, e) {
        s.GetSelectedFieldValues("EmpCode", GetSelectedFieldValuesCallback);

    }
    function GetSelectedFieldValuesCallback(values) {
        selectedIDs = "";
        ssFrom = "";
        for (var index = 0; index < values.length; index++) {
            selectedIDs += values[index] + ";";
            ssFrom = selectedIDs;
        }
        if (selectedIDs.length > 0) {
            selectedIDs = selectedIDs.substring(0, selectedIDs.length - 1);
        }
        txtEmpCode.SetValue(selectedIDs);
        //  alert(selectedIDs);
    }
</script>
<script type="text/javascript" src="~/Content/ReportJS1.js">
</script>
@model Humica.Logic.LM.GenerateLeaveObject

<div class="fitler-doc">
    @Html.Partial("~/Views/FILTER/FTFilterListForWard.cshtml", Model)
</div>
<div class="box-body">
    @Html.Partial("GridItems", Model.ListForward)
</div>