<script type="text/javascript">
    var ss;
    var selectedIDs = "";
    $(document).ready(function () {
        $('#_btnGenerate').click(function () {
            PopTheLoading.Show();
            window.location = "@Humica.EF.Models.SY.SYUrl.getBaseUrl()" + "@ViewData[Humica.EF.Models.SY.SYConstant.CURRENT_URL].ToString()" + "Generate?PayPeriodId=" + txtPayPeriodId.GetValue();
        });
        $('#_btnTransfer').click(function () {
            window.location = "@Humica.EF.Models.SY.SYUrl.getBaseUrl()" + "@ViewData[Humica.EF.Models.SY.SYConstant.CURRENT_URL].ToString()";
            $.ajax({
                type: 'post',
                url: _baseUrl + '/Attendance/Attendance/ATGenerateMeal/Transfer',
                data: { 'EmpCode': selectedIDs, 'Action': 'Index' },
                success: function (data) {
                    if (data == "OK") {

                    }
                    else {
                        AlertMessage(data);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    AlertMessage(XMLHttpRequest.responseText);
                }
            });
        });
        $('#_btnImport').click(function () {
            window.location = "@Humica.EF.Models.SY.SYUrl.getBaseUrl()" + "@ViewData[Humica.EF.Models.SY.SYConstant.CURRENT_URL]" + "Import";
        })
    });
    function OnSelectionChanged(s, e) {
        s.GetSelectedFieldValues("EmpCode", GetSelectedFieldValuesCallback);
    }
    function GetSelectedFieldValuesCallback(values) {
        selectedIDs = "";
        ssFrom = "";
        for (var index = 0; index < values.length; index++) {
            selectedIDs += values[index] + ",";
            ssFrom = selectedIDs;
        }
        if (selectedIDs.length > 0) {
            selectedIDs = selectedIDs.substring(0, selectedIDs.length - 1);
        }
        $.ajax({
            type: 'post',
            url: _baseUrl + '/Attendance/Attendance/ATGenerateMeal/getEmpCode',
            data: { 'EmpCode': selectedIDs, 'Action': 'Index' },
            success: function (data) {
                if (data == "OK") {

                }
                else {
                    AlertMessage(data);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                AlertMessage(XMLHttpRequest.responseText);
            }
        });
    }

</script>

@model Humica.Logic.Att.ATEmpSchObject


<div class="fitler-doc">
    @Html.Partial("FTFilterEmployeeGen", Model)
</div>
@Html.DevExpress().PageControl(
    settings =>
    {
        settings.Name = "pcScrollingMaterial1";
        settings.Width = Unit.Percentage(100);
        settings.EnableTabScrolling = true;
        settings.TabAlign = TabAlign.Justify;
        settings.Styles.Tab.CssClass = "scrolling_Tab";

        settings.TabPages.Add(Humica.EF.Models.SY.SYSettings.getLabel("Meals Summary")).SetContent(() =>
        {
            @Html.RenderPartial("GridItems", Model.ListMeal);
        });

    }).GetHtml()