@model Humica.Integration.EF.StaffIntegrateObject
<script type="text/javascript">
    var ss;
    var selectedIDs = "";
    $(document).ready(function () {
        $('#_btnDeleteAction').click(function () {
            ss = 4;
            ConfirmMessage("@Humica.EF.Models.SY.SYMessages.getMessage("DELETE_C", Humica.EF.MD.SYSession.getSessionUser().Lang)");
        });
    });
    function _clickMenuAction(s, e) {
        if (e.item.name == "_btnCUSCEN") {
           if (selectedIDs.length > 0) {
                window.location = "@Humica.EF.Models.SY.SYUrl.getBaseUrl()" + "@ViewData[Humica.EF.Models.SY.SYConstant.CURRENT_URL].ToString()" + "CUSCEN";//?Empcode=" + selectedIDs;
            }
            else {
                alert("No data selected");
            }
        }
    }
     function _clickConfirm(s, e) {
        if (s.GetText() == "@Humica.EF.Models.SY.SYConstant.OK") {
            if (ss == 4) {
                window.location = "@Humica.EF.Models.SY.SYUrl.getBaseUrl()" + "@ViewData[Humica.EF.Models.SY.SYConstant.CURRENT_URL]" + "Delete?INMonth=" + convert(txtInMonth.GetDate()) ;
            }
        }
    }
    function convert(str) {
        var date = new Date(str),
            mnth = ("0" + (date.getMonth() + 1)).slice(-2),
            day = ("0" + date.getDate()).slice(-2),
            Minutes = ("0" + date.getMinutes()).slice(-2);
        return [date.getFullYear(), mnth, day].join("-");
    }
    function OnSelectionChanged(s, e) {
        s.GetSelectedFieldValues("EmpCode", GetSelectedFieldValuesCallback);

    }
    function GetSelectedFieldValuesCallback(values) {
        selectedIDs = "";
        ssFrom = "";
        for (var index = 0; index < values.length; index++) {
            selectedIDs += values[index] + ";";
            ssFrom = selectedIDs;
        }
        if (selectedIDs.length > 0) {
            selectedIDs = selectedIDs.substring(0, selectedIDs.length - 1);
        }
        $.ajax({
            type: 'post',
            url: _baseUrl + '/PR/PRM/PRIntegStaff/getEmpCode',
            data: { 'EmpCode': selectedIDs, 'Action': 'Index' },
            success: function (data) {
                if (data == "OK") {

                }
                else {
                    AlertMessage(data);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                AlertMessage(XMLHttpRequest.responseText);
            }
        });

    }
    var interval = null;
    function StartTimer() {
        if (interval == null) {
            var counter = 0;
            interval = setInterval(function () {
                counter += 1;
                // Do your task.
                $.ajax({
                    type: "post",
                    url: _baseUrl + '/PR/PRM/PRIntegStaff/ShowProcess',
                    data: {},
                    success: function (data) {
                        if (data.MS == "OK") {
                            progressBar1.SetValue(data.Percen);
                        }
                        else {
                            progressBar1.SetValue(data.Percen);
                            favDialog.close();
                            StopTimer();
                        }
                    },
                    fail: function () {
                       // alert("error ....");
                    },
                    error: function () {
                        alert("error ....");
                    }
                });

            }, 1000);
        }
    }

    function StopTimer() {
        clearInterval(interval);
        interval = null;
         window.location = "@Humica.EF.Models.SY.SYUrl.getBaseUrl()" + "@ViewData[Humica.EF.Models.SY.SYConstant.CURRENT_URL].ToString()";
    }
</script>
<link rel="stylesheet" href="~/Content/styleLoanding.css">

<dialog id="favDialog" style="border: none; background-color: transparent; height: 75px; ">
    @*style="border: none; z-index: 1; width: 68%; background: black">*@

    <div id="floatingBarsG">
        <div class="blockG" id="rotateG_01"></div>
        <div class="blockG" id="rotateG_02"></div>
        <div class="blockG" id="rotateG_03"></div>
        <div class="blockG" id="rotateG_04"></div>
        <div class="blockG" id="rotateG_05"></div>
        <div class="blockG" id="rotateG_06"></div>
        <div class="blockG" id="rotateG_07"></div>
        <div class="blockG" id="rotateG_08"></div>
    </div>
    
            @Html.DevExpress().ProgressBar(settings =>
            {
                settings.Name = "progressBar1";

               // settings.Height = 20;

                //settings.Properties.Caption.aho = "Caption";
                settings.Properties.Minimum = 0;
              // settings.Properties.Maximum = Model.Progress;
                settings.Properties.ShowPosition = true;
                //settings.Properties.DisplayFormatString = "{0} / 100";
                // settings.Properties.ClientSideEvents.Init
                settings.Width = 300;
            }).GetHtml()
    @*<div>
            <button id="btnClose" class="button" type="button" onclick="#">Close</button>
            <h3>Processing</h3>
            <br />
        </div>
        <div>
            <div class="lbl">
                <h3>Success</h3>
                <p id="btnSuccess"></p>
            </div>
            <div class="lbl">
                <h3>Error</h3>
                <p id="btnError"></p>
            </div>
            <div class="lbl">
                <h3>Total</h3>
                <p id="btnTotal"></p>
            </div>
        </div>
        <br />
        <img class="loader-spinner" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/loader-spinner.png" />

        <div id="myProgress">
            <div id="myBar">10%</div>
        </div>
        <br />*@

</dialog>

@*@Html.Partial("FTFilterEmployeeGen", Model)*@

@*@Html.DevExpress().ProgressBar(settings =>
    {
        settings.Name = "progressBar1";

        //settings.Height = Unit.Pixel(23);

        settings.Properties.Caption = "Caption";
        settings.Properties.Minimum = 0;
        settings.Properties.Maximum = Model.Progress;
        settings.Properties.ShowPosition = true;
       // settings.Properties.DisplayFormatString = "{0} / 100";
        // settings.Properties.ClientSideEvents.Init
        settings.Width = 150;
    }).GetHtml()*@

@Html.Partial("GridItems", Model.ListCareerHis)