@model Humica.Logic.Att.ATEmpSchObject

    <script type="text/javascript">
    var ss;
    var selectedIDs = "";
    $(document).ready(function () {



         $('#_btnGenerate').click(function () {

             //alert("Generate");
             var shift = txtShiftCode.GetValue();
             if (shift != null) {
                 window.location = "@Humica.EF.Models.SY.SYUrl.getBaseUrl()" + "@ViewData[Humica.EF.Models.SY.SYConstant.CURRENT_URL].ToString()" + "Generate?shift" + shift + "&EmpCode=" + selectedIDs;

             }
             else {
                 alert("Shift is required");
             }
        });
        


    });

    function DbRowClick(s, e) {
        ss = 1;
        s.GetRowValues(s.GetFocusedRowIndex(), 'Code;', OnGetRowValues);
    }


    function OnGetRowValues(values) {
        selectedIDs = values[0];
        @*if (ss == 1) {
            window.location = "@Humica.EF.Models.SY.SYUrl.getBaseUrl()" + "@ViewData[Humica.EF.Models.SY.SYConstant.CURRENT_URL]" + "Details/" + values[0];
        }
        if (ss == 2) {
            window.location = "@Humica.EF.Models.SY.SYUrl.getBaseUrl()" + "@ViewData[Humica.EF.Models.SY.SYConstant.CURRENT_URL]" + "Edit/" + values[0];
        }*@

    }

    function _clickConfirm(s, e) {
        if (s.GetText() == "@Humica.EF.Models.SY.SYConstant.OK") {
            if (ss == 4) {
                window.location = "@Humica.EF.Models.SY.SYUrl.getBaseUrl()" + "@ViewData[Humica.EF.Models.SY.SYConstant.CURRENT_URL].ToString()" + "Delete?id=" + selectedIDs;
            }

        }

    }

    function OnSelectionChanged(s, e) {
        s.GetSelectedFieldValues("EmpCode", GetSelectedFieldValuesCallback);

    }

    function GetSelectedFieldValuesCallback(values) {
        selectedIDs = "";
        ssFrom = "";
        for (var index = 0; index < values.length; index++) {
            selectedIDs += values[index] + ";";
            ssFrom = selectedIDs;
        }
        if (selectedIDs.length > 0) {
            selectedIDs = selectedIDs.substring(0, selectedIDs.length - 1);
        }
        //alert(selectedIDs);
       // txtEmpCode.SetValue(selectedIDs);

    }


    </script>




<div class="fitler-doc">
    @Html.Partial("FTFilter", Model)
</div>
@Html.Partial("GridItems", Model.ListStaffs)
